<div ng-controller='StoryController'>

    <!-- Slider Bar -->
    <div class="row" id='rangeslider'>
        <h3 style="font-family:Optima" ng-model="selectedChapter">Chapter {{selectedChapter}}</h3>

        <br/>
        <button ng-click='playChapters()'>{{button}}</button>
        <div class="range-slider round" data-slider data-options="start: 1; end: 20;">
          <span class="range-slider-handle"></span>
          <span class="range-slider-active-segment"></span>
          <input id="sliderInput" type="hidden">
        </div>

         <ul class="button-group">
          <button class='relType' ng-click="selectedRelTypes.push('Allies')">Allies</button>
          <button class='relType' ng-click="selectedRelTypes.push('Enemies')">Enemies</button>
          <button class='relType' ng-click="selectedRelTypes.push('Mutual')">Mutual</button>
          <button class='relType' ng-click="selectedRelTypes.push('Near')">Near</button>
          <button class='relType' ng-click="selectedRelTypes.push('Kills')">Kills</button>
          <button class='relType' ng-click="selectedRelTypes.push('ParentChild')">ParentChild</button>
          <button class='relType' ng-click="selectedRelTypes.push('Siblings')">Sibling</button>
          <button class='relType' ng-click="selectedRelTypes.push('Unrequited')">Unrequited</button>
          <button id='filterRels' ng-click="getAll()">Filter</button>
          <button id='viewAllRels' ng-click="selectedChar={};selectedRelTypes=[];getAll()">View All</button>
        </ul>
    </div>

    <!-- Input Form -->
    <form>
      <div class="row" id='hey'>
        <!-- Add Character -->
        <div class="large-3 columns" id="addChar">

            <div class="small-12 columns">
              <input ng-model="newChar.name" type="text" placeholder="New character...">
              <input ng-model="newChar.chapter" type="text" placeholder="First chapter appearance...">
            </div>

            <button id='addCharButton' ng-click="addChar()">Add Character</button>

        </div>
        <!-- Add Relationship -->
        <div class="large-3 columns" id='addRel'>
          <!-- From -->
          <div class="row collapse">
            <div class="small-4 columns">
              <span class="prefix radius">From</span>
            </div>
            <div class="small-8 columns">
              <select ng-model="newRel.from" ng-options="node.name for node in data.nodes" required>
                <option value="">Choose person</option>
              </select>
            </div>
          </div>
          <!-- Type -->
          <select ng-model="newRel.type" ng-options="type for type in relationshipTypes" required>
            <option value="">Choose relationship</option>
          </select>

          <!-- To -->
          <div class="row collapse">
            <div class="small-4 columns">
              <span class="prefix radius">To</span>
            </div>
            <div class="small-8 columns">
              <select ng-model="newRel.to" ng-options="node.name for node in data.nodes" required>
                <option value="">Choose person</option>
              </select>
            </div>
          </div>

          <div class="large-6 columns">
            <button id="addRelButton" ng-click="addRel()">Add Relationship</button>
          </div>

        </div>
      </div>
    </form>

  <button class="edit">Edit Network</button>
  <story-graph data='data' on-click="onClick(nodeId)"></story-graph>
</div>
<script>
  //toggle edit form and range slider
  $(".edit").on('click', function() {
    $('form').toggle(); 
    $('#rangeslider').toggle();; 
    $(this).text(function(i, text) {
      return text === "Edit Network" ? "Done" : "Edit Network";
    });
  });
  $(".relType").on('click', function() {
    $(this).css('background-color', '#CC1422');
  });
  $("#viewAllRels, #filterRels").on('click', function() {
    $(".relType").css('background-color', '#FF5840');
  });

</script>
