<div ng-controller='StoryController'>

    <!-- Slider Bar -->
    <div class="row" id='rangeslider'>
      <!-- <div class="small-2 medium-1 columns"></div> -->
   <!--    <div class="small-10 medium-11 columns"> -->

        <h3 style="font-family:Optima">Chapter <h4 class="subheader" id="sliderOutput" class="label">0</h4></h3>
        <br/>
        <button>Play</button>
        <div class="range-slider round" data-slider data-options="start: 0; end: 400;">
          <span class="range-slider-handle"></span>
          <span class="range-slider-active-segment"></span>
          <input type="hidden">
        </div>
        <ul class="button-group">
          <button>Allies</button>
          <button>Enemies</button>
          <button>Mutual</button>
          <button>Near</button>
          <button>Kills</button>
          <button>ParentChild</button>
          <button>Sibling</button>
          <button>Unrequited</button>
        </ul>
      <!-- </div> -->
    </div>

    <!-- Input Form -->
    <form>
      <div class="row" id='hey'>
        <!-- Add Character -->
        <div class="large-3 columns" id="addChar">
          <!-- div class="row collapse"> -->
            <div class="small-12 columns">
              <input ng-model="newChar.name" type="text" placeholder="New character...">
              <input ng-model="newChar.chapter" type="text" placeholder="First chapter appearance...">
            </div>
          <!--   <div class="small-4 columns">
              <a ng-click="addChar()" class="button postfix">Add</a>
            </div> -->
         <!--  </div> -->
          <!-- <div class="small-4 columns"> -->
            <button id='addCharButton' ng-click="addChar()">Add Character</button>
          <!-- </div> -->
        </div>
        <!-- Add Relationship -->
        <div class="large-3 columns" id='addRel'>
          <!-- From -->
          <div class="row collapse">
            <div class="small-4 columns">
              <span class="prefix radius">From</span>
            </div>
            <div class="small-8 columns">
              <select ng-model="newRel.from" ng-options="node.name for node in data.nodes" required>
                <option value="">Choose person</option>
              </select>
            </div>
          </div>
          <!-- Type -->
          <select ng-model="newRel.type" ng-options="type for type in relationshipTypes" required>
            <option value="">Choose relationship</option>
          </select>

          <!-- To -->
          <div class="row collapse">
            <div class="small-4 columns">
              <span class="prefix radius">To</span>
            </div>
            <div class="small-8 columns">
              <select ng-model="newRel.to" ng-options="node.name for node in data.nodes" required>
                <option value="">Choose person</option>
              </select>
            </div>
          </div>

          <div class="large-6 columns">
            <button id="addRelButton" ng-click="addRel()">Add Relationship</button>
          </div>

        </div>
      </div>
    </form>

  <button class="edit">Edit Network</button>
  <story-graph data='data'></story-graph>
</div>
<script>
$(".edit").on('click', function() {
  $('form').toggle(); 
  $('#rangeslider').toggle();; 
  $(this).text(function(i, text) {
    return text === "Edit Network" ? "Done" : "Edit Network";
  });
});
</script>
