span.test {
	font-size: 24;
}
.link {
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

#knows {
  stroke: #9ecae1;
}

#loves {
  stroke: IndianRed;
}

#kills {
  stroke: black;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.nodeLabels {
  font-family:  "Avenir";
  font-size: 12px;
}

body {
  margin: 0;
  margin-top: 10px;
  font-family: arial, sans-serif;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  font-style: italic;
  margin-bottom: 10px;
}

.navigation {
  width: 100%;
  height: 40px;
  background-color: #eee;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #ddd;
}

.navigation li a.selected {
  background-color: #ccc;
}

div.row#range-slider {
  position: absolute;
}

div.row#hey {
  height: 30%;
  padding: 1%;
  background-color: AliceBlue;
  margin-top: 2%;
  margin-left: 3%;
  display: inline-block;
 /* position: absolute;*/
}
/*
#addChar {
  padding: 5px;
}*/

#addCharButton {
  position: relative;
  width: 86.3%;
  margin-top: -1.5%;
  margin-left: 7%;
}

#addRelButton {
  width: 13.25em;
  margin-top: -0.15em;
  margin-left: -0.85em;
}

h3 {
  display: inline;
}

h4 {
  display: inline;
}

button {
  display: inline;
  margin-top: .7em;
  height: 2em;
  width: 6em;
  padding: 0;
  text-align: center;
}

form {
  display: none;
}

.range-slider {
 display: inline;
 float: right;
 width: 87%;
}

.edit {
  transform: rotate(90deg);
  -webkit-transform:rotate(90deg);
  left: -2em;
  position: absolute;
  margin-top: -3.5%;
  display: inline;
  font-size: 10px;
}

svg {
  z-index: -1;
}
#logoContainer {
  margin-left: 25%;
}

/*#logo {
  margin-left: 25%;
}*/

#enter {
  position: relative;
  display: block;
  left:20%;
  margin-top: 15%;
  width: 10em;
}
